.hamburger-symbol{
    z-index: 9;
    width: auto;
    height: auto;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.25s ease-in-out;
    margin-bottom: auto;
    margin-top: 12px;
    margin-right: 12px;
}

.bar {
    width: 50px;
    height: 5px;
    background-color: black;
    margin: 4px;
    border: 1px solid black;
    border-radius: 4px;
}

.hamburger-symbol:hover{
    transform: scale(1.1);
}

.hamburger-symbol.inactive{
    display: none;
}
.sidemenu {
    position: fixed; 
    top: 0;
    right: 0; 
    height: 100%;
    width: 400px;
    padding-left: 3.5%;
    flex-direction: column;
    gap: 18px;
    backdrop-filter: blur(0px); 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
    z-index: 9999 !important;
    opacity: 0; 
    transform: translateX(100%); 
    box-shadow: -4px 0px 2px 3px gray;
}

.sidemenu.active {
    opacity: 1; 
    transform: translateX(0); 
    backdrop-filter: blur(10px); 
}

.sidemenu.inactive {
    opacity: 0; 
    transform: translateX(100%); 
}

.x-logo{
    font-family: monospace;
    font-size: 74px;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

.x-logo:hover{
    cursor: pointer;
}


.Links {
    height: 60px;
    width: 90%;
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    font-family: monospace;
    font-weight: bold;
    font-size: clamp(22px,1.5vw,48px);
    box-shadow: 4px 4px 4px 1px #5c7a6c;
    transition: transform 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: Black;
    background-color: white;
}

.Links:hover{
    transform: scale(1.05);
    background-color: black;
    color : white;
}

.active-link{
    display: none;
}

@media (max-width : 900px){
    .sidemenu{
        width: 50%;
    }

    .sidemenu > button {
        font-size: 20px;
    }

    .bar{
        width: 40px;
        height: 5px;
    }
}


@media (max-width : 425px){
    .sidemenu{
        width: 80%;
    }

    .sidemenu > button {
        font-size: 15px;
        width: auto;
        height: 40px;
        margin: 2px;
        padding: 8px;
    }

    .bar{
        width: 40px;
        height: 4px;
    }

}

