.calcsection {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px
}

.calcbody {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 4px solid black;
    padding: 0;
    border-radius: 40px;
    background-color: #b8f3d7;
    box-shadow: 8px 8px 4px 1px #5c7a6c;
}

.calcbody2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 4px solid black;
    padding: 0;
    border-radius: 40px;
    background-color: #b8f3d7;

    box-shadow: 8px 8px 4px 1px #5c7a6c;
}

.output-screen {
    border: 4px solid black;
    width: 100%;
    height: 32%;
    margin: 0;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

.output-screen>p {
    margin-right: 40px;
    margin-left: 40px;
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
}

.additional-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
}

.btn-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;
}


.additional-btn>button {
    margin: 12px;
    height: 60px;
    width: 100px;
    border-radius: 12px;
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
    box-shadow: 4px 4px 4px 1px #5c7a6c;
    transition: transform 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-container>button {
    height: 60px;
    width: 60px;
    margin: 4px;
    border-radius: 12px;
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
    box-shadow: 4px 4px 4px 1px #5c7a6c;
    transition: transform 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-container>button:hover,
.additional-btn>button:hover {
    transform: scale(1.15);
}


/*Making the site more responsive*/




@media (max-width:786px) {



    .calcsection {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }



    .calcbody,
    .calcbody2 {
        width: 350px;
        height: 450px;
        padding: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }


    .btn-container>button {
        width: 50px;
        height: 50px;
        font-size: 24px;

    }

    .additional-btn>button {
        height: 50px;
        font-size: 28px;
    }


}




@media (max-width:400px) {


    .calcbody,
    .calcbody2 {
        width: 92% ;
    }

    .additional-btn>button {
        width: 80px;
    }

    .btn-container>button {
        width: 40px;
        height: 50px;
    }
}